---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->
{% include base_path %}
<link rel="stylesheet" href="{{ base_path }}/assets/css/publications.css">

<div class="pub-item">
  <a href="#" class="title">Contemporary Software Modernization: Strategies, Driving Forces, and Research Opportunities</a>
  <br>
  <span class="authors">Wesley K. G. Assunção; Luciano Marchezan; Lawrence Arkoh; Alexander Egyed; and Rudolf Ramler</span>
  <br>
   <span class="venue">In: ACM Transactions on Software Engineering and Methodology, 2025</span> [ <a href="https://dl.acm.org/doi/10.1145/3708527">PDF</a> ] 
</div>



