---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}
<link rel="stylesheet" href="{{ base_path }}/assets/css/publications.css">

{% for pub in site.data.publications %}
  <div class="pub-item">
    <a target="_blank" href="{{ pub.link }}" class="title">{{ pub.title }}</a>
    <br>
    <span class="authors">{{ pub.authors }}</span>
    <br>
    <span class="venue">In: {{ pub.venue }}</span>
    {% if pub.pdf %}
      [ <a href="{{ pub.pdf }}" target="_blank">PDF</a> ]
    {% endif %}
  </div>
{% endfor %}
